<!DOCTYPE html>
<html>
  <head>
    <title><%= bot.user.username %>'s website</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="navbar">
      <div class="avatar">
        <div class="box">
          <img src="<%= bot.user.displayAvatarURL({ size: 512, format: "png" }) %>"></img>
          <a href="<%= inviteURL %>" target="_blank">Invite moi !</a>
        </div>
      </div>
      <div class="nav">
        <div class="docu navElm">
          <a class="navBtu" href="/wiki" targer="_blank">Wiki</a>
          <a class="navBtu" href="https://discord.gg/GegJXchAfN" targer="_blank">Support</a>
          <a class="navBtu" href="/guild" targer="_blank">Gérer mon serveur</a>
          <a class="navBtu" href="/news" targer="_blank">News</a>
          <a class="navBtu" href="/team" targer="_blank">Equipe</a>
        </div>
      </div>
      <div class="connect">
        <button type="button" class="connect" href="/auth/login">
          <a href="/auth/login">Se connecter</a>
        </button>
      </div>
    </div>
    <div class="profile">
      <img src="<%= bot.user.displayAvatarURL({ size: 512, format: "png" }) %>"></img>
      <div>
        <h1><%= bot.user.tag %></h1>
        <p>Un des seuls bots créer par des fondateurs pour les fondateurs !</p>
      </div>
    </div>
    <div class="stats">
      <p>Utilisée par <span><%= users %></span> utilisateurs sur plus de <span><%= bot.guilds.cache.size %></span> serveurs !</p>
    </div>
    <div class="container">

      <!-- Why Kady Section -->
      <div class="why-kady">
        <h1>Pourquoi utiliser Kady ?</h1>
        <div class="list">
          <div class="security listBox">
            <img src="img/security.png" width="100" height="100"></img>
            <p>Pas besoin de vous inquiétez de la sécurité, nous vous accompagnons dans la sécurisation de vos serveur, et nous travaillons beaucoup sur la sécurité de Kady !</p>
          </div>
          <div class="community listBox">
            <img src="img/community.png" width="100" height="100"></img>
            <p>Vous cherchez un bot pour améliorer votre communautée ? Ça tombe bien ! Kady est faite pour ça. Bénéficiez d'une personnalisation totale et de beaucoup d'outils utiles, et évidemment, tout est mis à jour régulièrement !</p>
          </div>
          <div class="commands listBox">
            <img src="img/cmd.png" width="100" height="100"></img>
            <p>Pas envie d'utiliser les commandes slashs ou pas l'habitude ? Pas d'inquiétude, Kady a été programmée pour permettre le support des deux ! Et ca, c'est le meilleure <span>😁</span></p>
          </div>
          <div class="ideas listBox">
            <img src="img/idea.png" width="100" height="100"></img>
            <p>Pas besoin de chercher pour contacter l'équipe de développement, il vous suffit de faire la commande <span class="command" style="font-size: 25px;">=support</span> et vous pourrez directement discuter avec les développeurs et graphistes !</p>
          </div>
        </div>
      </div>

      <div class="blog">
        <!---->
      </div>

      blblblbl
    </div>
  </body>
</html>