
<!DOCTYPE html>
<html lang="fr">
  <head>
    <title><%= bot.user.username %>'s website</title>
    <meta charset="utf-8">
    <meta name="author" content="Kady Development Team">
    <meta name="description" content="Kady is a Discord bot that helps you to manage your server.">
    <meta name="keywords" content="Kady, Discord, bot, server, management, help">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/png" sizes="32x32" href="img/icon.png">
    <!-- Notifications -->
    <link rel="stylesheet" href="css/notif.css" >
    <script src="https://unpkg.com/simple-notifications-solution/dist/Notifications.js"></script>
    <script src="js/notif.js"></script>
    <!-- Animations -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>
  <body>
    <div id="notif-container">
      <p data-close="self" class="notification is-primary" role="alert">Si tu as la moindre question, n'hésite pas à contacter mon équipe de développement !<button class="delete" type="button" >Close</button></p>
      <p data-close="self" class="notification is-warning" role="alert">Pour une meilleure navigation, des cookies necessaires seront stockés sur votre navigateur.<button class="delete" type="button" >Close</button></p>
      <!--
        <p class="notification is-success" role="alert">You rock! Don't forget it! <button class="delete" type="button" >Close</button></p>
        <p class="notification is-danger" role="alert">Errors happen. And it happened again.<button class="delete" type="button">Close</button></p>
        <p data-close="self" class="notification is-warning" role="alert">Weather warnings for strong winds and rain!<button class="delete" type="button" >Close</button></p>
      -->
    </div>
    <div class="navbar">
      <div class="avatar">
        <div class="box">
          <img draggable="false" src="<%= bot.user.displayAvatarURL({ size: 512, format: "png" }) %>"></img>
          <a href="<%= inviteURL %>" target="_blank">Invite moi !</a>
        </div>
      </div>
      <div class="nav">
        <div class="docu navElm">
          <a class="navBtu" href="/wiki" targer="_blank">Wiki</a>
          <a class="navBtu" href="https://discord.gg/GegJXchAfN" targer="_blank">Support</a>
          <a class="navBtu" href="/guilds" targer="_blank">Gérer mon serveur</a>
          <a class="navBtu" href="/ardis" targer="_blank">Ardis</a>
          <a class="navBtu" href="/news" targer="_blank">News</a>
          <a class="navBtu" href="/team" targer="_blank">Equipe</a>
        </div>
      </div>
      <div class="connect">
        <button type="button" class="connect" href="<%= is_logged ? "/profile" : "/auth/login" %></button>"><a href="<%= is_logged ? "/profile" : "/auth/login" %>"><%= is_logged ? "Mon profile" : "Se connecter" %></a></button>
      </div>
    </div>
    <div class="profile">
      <img draggable="false" src="<%= bot.user.displayAvatarURL({ size: 512, format: "png" }) %>"></img>
      <div>
        <h1 class="aos-item" data-id="5" data-aos="zoom-out"><%= bot.user.tag %></h1>
        <p>Un des seuls bots créer par des fondateurs pour les fondateurs !</p>
      </div>
    </div>
    <div class="stats">
      <p>Utilisée par <span><%= users %></span> utilisateurs sur plus de <span><%= bot.guilds.cache.size %></span> serveurs !</p>
    </div>
    <div class="container">

      <!-- Why Kady Section -->
      <div class="why-kady">
        <h1>Pourquoi utiliser Kady ?</h1>
        <div class="list">
          <div class="security listBox aos-item" data-id="1" data-aos="fade-up">
            <img draggable="false" src="img/security.png" width="100" height="100"></img>
            <p>Pas besoin de vous inquiétez de la sécurité, nous vous accompagnons dans la sécurisation de vos serveur, et nous travaillons beaucoup sur la sécurité de Kady !</p>
          </div>
          <div class="community listBox aos-item" data-id="2" data-aos="fade-up">
            <img draggable="false" src="img/community.png" width="100" height="100"></img>
            <p>Vous cherchez un bot pour améliorer votre communautée ? Ça tombe bien ! Kady est faite pour ça. Bénéficiez d'une personnalisation totale et de beaucoup d'outils utiles, et évidemment, tout est mis à jour régulièrement !</p>
          </div>
          <div class="commands listBox aos-item" data-id="3" data-aos="fade-up">
            <img draggable="false" src="img/cmd.png" width="100" height="100"></img>
            <p>Pas envie d'utiliser les commandes slashs ou pas l'habitude ? Pas d'inquiétude, Kady a été programmée pour permettre le support des deux ! Et ca, c'est le meilleure <span>😁</span></p>
          </div>
          <div class="ideas listBox aos-item" data-id="4" data-aos="fade-up">
            <img draggable="false" src="img/idea.png" width="100" height="100"></img>
            <p>Pas besoin de chercher pour contacter l'équipe de développement, il vous suffit de faire la commande <span class="command" style="font-size: 25px;">=support</span> et vous pourrez directement discuter avec les développeurs et graphistes !</p>
          </div>
        </div>
      </div>
      <div class="separation">
        <h1>Les derniers articles en dates :</h1>
      </div>
      <div class="blog">
        <% news.forEach(async(elm) => { %>
          <div class="newsBox aos-item" data-id="6" data-aos="zoom-out-down">
            <div class="title">
              <img draggable="false" src="<%- elm.img %>"></img>
              <h4><%- elm.name %></h4>
            </div>
            <p><%- elm.littleDesc %></p>
            <a href="<%- elm.url%>">Lire l'article</a><img src="img/right-arrow.png" id="arrow"></img>
          </div>
        <% }) %>
      </div>
      <div class="footer">
        @ copyright 2021 Kady
      </div>
    </div>
    <script>
      var Notifs = function(text, type, behavior){
        if (typeof text !== 'string' || text.length < 1) return null
        const el = document.createElement('p');
        el.classList.add('notification');
        let innerHTML = text
        switch(type){
          case "success": { el.classList.add('is-success'); break; };
          case "error": { el.classList.add('is-danger'); break; };
          case "warning": { el.classList.add('is-warning'); break; };
          default: el.classList.add('is-primary');
        }
        if (behavior === 'yes') el.setAttribute('data-close', 'self');
        else innerHTML += '<button class="delete will-close" type="button">Close</button>'
        el.innerHTML = innerHTML
        document.getElementById("notif-container").appendChild(el)
      }

      AOS.init()
    </script>
  </body>
</html>