<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <!-- Notifications -->
    <link rel="stylesheet" href="../css/notif.css" >
    <script src="https://unpkg.com/simple-notifications-solution/dist/Notifications.js"></script>
    <script src="../js/notif.js"></script>
    <!-- Animations -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- checkBox -->
    <link href="https://www.cssscript.com/wp-includes/css/sticky.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/select.css">
    <!-- MAIN -->
    <title><%= guild.name %> configuration</title>
    <meta charset="utf-8">
    <meta name="author" content="Kady Development Team">
    <meta name="description" content="Kady is a Discord bot that helps you to manage your server.">
    <meta name="keywords" content="Kady, Discord, bot, server, management, help">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/specificGuild.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/icon.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div id="notif-container"></div>
    <div class="navbar">
      <div class="avatar">
        <div class="box">
          <img draggable="false" src="<%= bot.user.displayAvatarURL({ size: 512, format: "png" }) %>"></img>
          <a href="<%= inviteURL %>" target="_blank">Invite moi !</a>
        </div>
      </div>
      <div class="nav">
        <div class="docu navElm">
          <a class="navBtu" href="../wiki" targer="_blank">Wiki</a>
          <a class="navBtu" href="https://discord.gg/GegJXchAfN" targer="_blank">Support</a>
          <a class="navBtu" href="../guilds" targer="_blank">Gérer mon serveur</a>
          <a class="navBtu" href="../ardis" targer="_blank">Ardis</a>
          <a class="navBtu" href="../news" targer="_blank">News</a>
          <a class="navBtu" href="../team" targer="_blank">Equipe</a>
        </div>
      </div>
      <div class="connect">
        <button type="button" class="connect" href="<%= is_logged ? "../profile" : "../auth/login" %></button>"><a href="<%= is_logged ? "../guilds" : "../auth/login" %>"><%= is_logged ? "Mes serveurs" : "Reconnecte toi" %></a></button>
      </div>
    </div>
    <!-- This is the fun ! -->
    <div class="container">
      <center>
        <div class="info">
          <%= guild.name %>
          <div class="premium" style="opacity: 0;">
            premium
          </div>
        </div>
        <div class="navigator">
          <div class="nav-group">
            <div class="wrapper" style="height: 2px; left: 0px; width: 102px;">
              <div class="tab-slider"></div>
            </div>
            <a tabindex="0" class="window-item button selected" id="#tab-general">Général</a>
            <a tabindex="0" class="window-item button" id="#tab-logs">Logs</a>
            <a tabindex="0" class="window-item button" id="#tab-mod">Modération</a>
            <a tabindex="0" class="window-item button" id="#tab-admin">Administration</a>
            <a tabindex="0" class="window-item button" id="#tab-xp">XP</a>
            <a tabindex="0" class="window-item button" id="#tab-eco">Economie</a>
            <a tabindex="0" class="window-item button" id="#tab-invite">Invitations</a>
            <a tabindex="0" class="window-item button" id="#tab-automod">Automod</a>
            <a tabindex="0" class="window-item button" id="#tab-database">Database</a>
          </div>
        </div>
        <div class="table">
            <div class="v-window__container">
              <div class="row">
                <div style="opacity: 1;" class="tab-general dashboard">
                    <div class="v-input col-md-6 col-12 middle first-middle"> Enable : <label class="switch col-md-6"><input type="checkbox" id="ENABLE"><div><span></span></div></label> </div>
                    <div class="v-input col-md-6 col-12 middle"> Test : <label class="switch col-md-6"><input type="checkbox" id="TEST"><div><span></span></div></label> </div>
                    <div class="v-input left-dash">
                      <p>Langage :</p>
                      <div id="select_language" class="col-md-6">
                        <select value="lang" id="LANGUAGE">
                          <option value="fr">Francais</p></option>
                          <option value="en">English</p></option>
                        </select>
                      </div>
                    </div>
                    <div class="v-input left-dash">
                      <p>Mon surnom :</p>
                      <input class="text nice-select col-md6" type="text" id="NICKNAME" minlength="1" maxlength="32" placeholder="<%= nickname %>">
                    </div>
                    <div class="v-input left-dash">
                      <p>Mon préfix :</p>
                      <input class="text nice-select col-md6" type="text" id="PREFIX" minlength="1" maxlength="5" placeholder="<%= prefix %>" pattern="[^\W]">
                    </div>
                </div>
                <div style="opacity: 0; position: absolute; top: -50000px; height: 0px; margin: 0px; padding: 0px;" class="tab-logs dashboard"><p class="nop">Il semblerait que il n'y ai rien pour le moment ici...</p></div>
                <div style="opacity: 0; position: absolute; top: -50000px; height: 0px; margin: 0px; padding: 0px;" class="tab-mod dashboard"><p class="nop">Il semblerait que il n'y ai rien pour le moment ici...</p></div>
                <div style="opacity: 0; position: absolute; top: -50000px; height: 0px; margin: 0px; padding: 0px;" class="tab-admin dashboard"><p class="nop">Il semblerait que il n'y ai rien pour le moment ici...</p></div>
                <div style="opacity: 0; position: absolute; top: -50000px; height: 0px; margin: 0px; padding: 0px;" class="tab-xp dashboard"><p class="nop">Il semblerait que il n'y ai rien pour le moment ici...</p></div>
                <div style="opacity: 0; position: absolute; top: -50000px; height: 0px; margin: 0px; padding: 0px;" class="tab-eco dashboard"><p class="nop">Il semblerait que il n'y ai rien pour le moment ici...</p></div>
                <div style="opacity: 0; position: absolute; top: -50000px; height: 0px; margin: 0px; padding: 0px;" class="tab-invite dashboard"><p class="nop">Il semblerait que il n'y ai rien pour le moment ici...</p></div>
                <div style="opacity: 0; position: absolute; top: -50000px; height: 0px; margin: 0px; padding: 0px;" class="tab-automod dashboard"><p class="nop">Il semblerait que il n'y ai rien pour le moment ici...</p></div>
                <div style="opacity: 0; position: absolute; top: -50000px; height: 0px; margin: 0px; padding: 0px;" class="tab-database dashboard">
                  <p>Voici les données en brutes stockées sur votre serveur :</p>
                  <pre class="prettyprint lang-JSON">
                    <%= db %>
                  </pre>
                  <p>Par soucis du détail, voici la ligne utilisée pour récupérer vos données :</p>
                  <pre class="prettyprint lang-js">
                    JSON.stringify(database.guilds.get(guild.id) ?? { error: "DATA_NOT_FOUND" }, null, 2);
                  </pre>
                  <h6>Pouvoir executer cette ligne est très compliquée car il faut passer de nombreuses sécurités</h6>
                  <button class="btn-dwn"><a href="../../guilds/<%= guild.id %>/download_database/json" target="_blank">Télécharger les données au format JSON</a></button>
                  <button class="btn-dwn"><a href="../../guilds/<%= guild.id %>/download_database/txt"  target="_blank">Télécharger les données au format TXT</a></button>
                </div>
              </div>
            </div>
          <div class="save">
            <button class="save" type="submit" id="SAVE_btn" onclick="send('general')">
              <span class="btn-content">SAVE</span>
            </button>
          </div>
        </div>
      </center>
    </div>
    <script src="../js/selectMenu.js"></script>
    <script>
      // Notifs
      AOS.init()

      // initialise select-menus
      NiceSelect.bind(document.getElementById("select_language"));
      bind(document.getElementById("select_language"))

      // POST translator 
      function hello(){}

      // NAVIGATION 
      Object.entries(document.getElementsByClassName("window-item")).forEach((elm) => {
        elm[1].addEventListener("click", (e) => {
          Object.entries(document.getElementsByClassName("window-item")).forEach((c) => {
            c[1].classList.remove("selected");
            Object.entries(document.getElementsByClassName(c[1].id.replace(/#/g, ""))).forEach((sel) => {
              sel[1].style["opacity"] = 0;
              sel[1].style.setProperty("height", "0px");
              sel[1].style.setProperty("width", "0px");
              sel[1].style.setProperty("margin", "0px");
              sel[1].style.setProperty("padding", "0px");
              sel[1].style.setProperty("position", "absolute");
              sel[1].style.setProperty("top", "-50000px");
            })
          })
          document.getElementById(e.target.id).classList.add("selected")
          document.getElementsByClassName(e.target.id.replace(/#/g, ""))[0].style.setProperty("opacity", "1")
          document.getElementsByClassName(e.target.id.replace(/#/g, ""))[0].style.removeProperty("height")
          document.getElementsByClassName(e.target.id.replace(/#/g, ""))[0].style.removeProperty("width")
          document.getElementsByClassName(e.target.id.replace(/#/g, ""))[0].style.removeProperty("margin")
          document.getElementsByClassName(e.target.id.replace(/#/g, ""))[0].style.removeProperty("padding")
          document.getElementsByClassName(e.target.id.replace(/#/g, ""))[0].style.removeProperty("position")
          document.getElementsByClassName(e.target.id.replace(/#/g, ""))[0].style.removeProperty("top")
        })
      })
    </script>
    <script>
      // database 
      setTimeout(() => { document.getElementsByClassName("pln")[0].remove() }, 500)

      // Save
      let cooldown = Date.now() - 1;
      function send(section) {
        if (Date.now() < cooldown) return Notifs("Tu ne peux enregistrer les modifications que toutes les 5 secondes !", "error", "yes");
        cooldown = Date.now() + 5000;
        Notifs("Sauvegarde des modifications...", "info", "yes");
        let xhr = new XMLHttpRequest();
        xhr.open("POST", `/guilds/<%= guild.id %>/${section}`, true); xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
          general: {
            enable: document.getElementById("ENABLE").checked,
            test: document.getElementById("TEST").checked,
            lang: document.getElementsByClassName("current")[0].textContent,
            prefix: document.getElementById("PREFIX").value,
            nickname: document.getElementById("NICKNAME").value,
          }
        }));
        function checkRes() {
          if (xhr.status == 200) { Notifs("Les modifications ont été enregistrées !", "success", "yes"); return true }
          else if(xhr.status == 0 && xhr.status !== 200) { setTimeout(() => checkRes(), 2000) }
          else { Notifs(`Une erreur est survenue !<br>${xhr.response}`, "error", "yes"); return false }
        }
        checkRes()
      }
    </script>
  </body>
</html>